<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name=".ServiceMainActivity"
            android:screenOrientation="portrait"/>

        <service android:name=".MyTest1Service"/>

        <service android:name=".MyIntentService"/>
    </application>
</manifest>