<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>
        <activity android:name=".ServiceMainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".keepalive.OnePixelActivity"
            android:screenOrientation="portrait"/>
        <service android:name=".service.MyTest1Service"/>
        <service android:name=".service.MyIntentService"/>
        <service android:name=".foreground.MyForeGroundService"/>
        <service android:name=".keepalive.OnePixelService"/>
        <service android:name=".keepalive.KeepAliveService"/>
        <service android:name=".keepalive.KeepAliveJobScheduler"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:name=".aidl.MyRemoteService" android:process=":MyTestProcessName"
            android:exported="true">
            <intent-filter>
                <action android:name="com.vangelis.app.service.service"/>
            </intent-filter>
        </service>
    </application>
</manifest>